@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Setting the default values of the elements, later on, we will change the values as needed*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}


/* Use root selector to create variables in the css file*/
:root {
  --container: 144rem;
  --primary: #8a1538;
  --secondary: #eeeee4;
  --gr-1: rgba(138, 21, 56, 0.607);
  --gr-2: rgba(218, 201, 109, 0.665);
  --nav: rgba(138, 21, 56, 0.045);
  --sub-nav: rgba(238, 235, 235, 0.295);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /* Scrolls to the section instead of teleporting there*/
  font-family: 'Poppins', sans-serif; /* Main font family is Poppings, use sans-serif as fallback*/
}

/* css to remove the scrollbar */
::-webkit-scrollbar {
  width: 0;
}

body {
  font-size: 1.6rem;
}

/* css for paragraphs start here*/
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* css for `s` start here*/
s {
  /* Use the default values*/
  text-decoration: line-through;
}

/* css for `ins` start here*/
ins {
  /* Use the default values*/
  text-decoration: underline;
}

.container {
  max-width: var(--container);
  padding: 0 2rem;
  margin: 0 0 5rem 0;
}

#hero {
  /* Add background image to the hero container, center it and make the background area completly covered by the image. Add gradient effect on top*/
  background: linear-gradient(var(--gr-1), var(--gr-2)), url(Images/hero-image.png) no-repeat center center / cover;
}

.header {
  background: var(--nav);
  backdrop-filter: blur(10px); /* Add blur effect to the area behind the element*/
}

.header-background {
  background-color: var(--primary);
}

.navigation {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-bar {
  width: 7vw;
  height: 1vw;
  background-color: black;
  margin: 1vw 0;
}

.nav_list {
  display: inline-block;
  margin: 0 1rem;
}

.nav_link {
  font-size: 1.6rem;
  color: white;
}

.nav_link.active { /* the navigation page that we are currently in*/
  position: relative;
}

/* code to show which page is open in the navigation*/
.nav_link.active::before {
  /* this will create a small box, center it, rotate it, and fill it*/
  position: absolute;
  content: '';
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  bottom: -1.5rem;
  width: 0.7rem;
  height: 0.7rem;
  background: var(--secondary);
}

.btn-nav {
  margin-left: 5rem;
}

.btn-outline {
  padding: 0.6rem 2rem;
  border: 0.2rem solid var(--secondary);
  color: white;
  font-weight: 500;
  border-radius: 3rem;
  transition: all 0.2s ease-in;
  display: inline-flex;
  align-items: center;
}

.btn-outline:hover {
  border-color: var(--secondary);
  color: var(--primary);
  background: var(--secondary);
  transition: all 0.2s ease-in;
}

.hero-main-container {
  padding: 5rem 0;
  height: 70vh;
}


.standings-heading {
  padding-top: 2rem;
  font-size: 4rem;
}

/* title text and animation css start here*/
#title {
  font-size: 5rem;
  opacity: 0;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  color: white;
  text-shadow: 0.5rem 0.5rem 0.25rem var(--gr-1); /* add shadow to the text */
  animation: revealText 0.1s 0.4s forwards;
}

.title-div {
  position: relative;
}

.title-div .overlay {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: var(--gr-2);
  transform: scaleX(0); /* not visiable by default*/
  transform-origin: left;
  animation: scaleOverlay 1s forwards cubic-bezier(0.85, 0, 0.15, 1);
}

/* Animation for the overlay movement*/
@keyframes scaleOverlay {
  50% {
    transform: scaleX(1); /* make the element appear*/
  }

  75% {
    transform: scaleX(1);
    transform-origin: left;
  }

  76% {
    transform-origin: right; /* change the transform-orgin to right */
  }

  100% {
    transform: scaleX(0); /* make the element disappear */
    transform-origin: right;
  }
}

/* Animation for the apperance of the text*/
@keyframes revealText {
  to {
    opacity: 1; /* make the text appear*/
  }
}

/* bottom navigation css start*/
.sub-navigation li {
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--primary);
  display: inline-block;
  margin: 2rem 5rem 2rem 5rem;
}

.sub-navigation ul {
  background-color: var(--sub-nav);
}

/* side table of content start*/
.sidenav {
  width: 15%;
  height: 18%;
  overflow: scroll;
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  right: 1rem;
  background: var(--primary);
  padding: 8px 0;
}

.sidenav a {
  padding: 0.5rem 1rem 0.5rem 2rem;
  font-size: 2rem;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

/* copyright css + place holder for the sidenav*/
footer .copyright-text{
  background-color: var(--primary);
  text-align: center;
  height:18%;
  color:white;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  }

.copyright-text a{
    color:white;
    text-decoration: underline;
    }

/* section image start*/
.section-image {
  /* For landscape images*/
  display: flex;
  justify-content: center;
  width: 60%;
  filter: blur(7px);
  margin: 2rem auto 5rem auto;
}

.side-image {
  /* For square images */
  float: right;
  margin: 1rem 2rem 1rem 2rem;
  padding-right: 2rem;
  width: 25%;
}

.img-text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* Video css start*/

video {
  display: flex;
  justify-content:center;
  width: 60%;
  filter: blur(1px);
  margin: 2rem auto 5rem auto;
}

/* Groups css start here*/
.groups, .knockout{
  display:flex;
  justify-content:space-between;
  margin-bottom: 3rem;
  width:100%;
  overflow:scroll; /* when content overflow, e.g., in small mobile phones, the user can scroll to see the rest of the content*/
}
.knockout{
  align-items: center;

}

.groups dl,
.knockout dl {
  margin-right: 3rem;
}


/* Why special ul css start here*/
.why-special li{
  list-style-type:"\26BD"; /* soccer emoji*/
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  margin-left: 5rem;

}

/* bottom navigation bar start*/
.vertical-menu {
  background-color: LightSlateGray;
  font-weight: bold;
  width: 100%;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.vertical-menu a {
  color: white;
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem 2rem 1rem 2rem;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: DimGrey;
  color: white;
}

/* css for dl, dt, and dd */
dl {
  margin:2rem 0 2rem 3rem;
}

dt {
  font-weight:bold;
}
dd {
  margin-right: 1rem;
  padding:1rem 1rem 1rem 1rem;
}

/* CSS For teams start*/
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  justify-content: space-around;
  margin-top: 5rem;
}

.team {
  position: relative;
  flex: 0 0 auto;
  width: 12%;
  min-width: 5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}


.team h3 {
  text-align: center;
}

.team img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border:solid;
  border-width: 0.2rem;
  outline-offset: 0;
  border-color: black;
}


.team .overlay { /* element with class overlay within element with class team, this element will be sued to give the overlay effect and show the name fo the counrty*/
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* rgba to use transparency*/
  color: white;
  width: 100%;
  transition: .5s ease;
  opacity:0; /* not visible by default*/
  color: white;
  font-size: 2rem;
  padding: 0.1rem;
  text-align: center;
}

.team:hover .overlay { /* when viewing the flag of the team, show overlay*/
  opacity: 1;
}

/* Competition div css start here*/
.Competition-div{
  display:flex;
  justify-content:space-between;
}

/* Form css start here*/
input[type=text], select { /* for input element of type text and for select*/
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.38rem;
  margin-bottom: 1rem;
  resize: vertical;
}

select{
  cursor: pointer;
}

input[type=submit] { /* For input element of type submit*/
  background-color: #04AA3F;
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type=submit]:hover { /* Hover on input element of type submit*/
  background-color: #35a049;
}


/* Table css start here */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.table{
  display:flex;
  align-items:center;
}

th, td{
  text-align: left;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; /* Add padding all around the cell*/
}

/* Media css*/
@media (max-width: 904px) {
  .header {
    display: none;
  }

  .sidenav {
    display: none;
  }

  .vertical-menu {
    background-color: white;
    display: block;
  }

  .vertical-menu a {
    display: block;
    margin: 2rem 2rem 2rem;
    background-color: LightSlateGray;
  }

  .team {
    flex: 0 0 auto;
    width: 25%;
  }

  .Competition-div{
    display:block;
  }
}

@media (max-width: 640px) {
  .hero-image {
    grid-row: 1;
  }

  .hero-img {
    max-width: 30rem;
  }

  .img-text-wrapper{
    display: block;
  }

  .side-image{
    float:none;
    display: flex;
    justify-content: center;
    width: 80%;
    filter: blur(7px);
    margin: 2rem auto 5rem auto;
  }
}
